<body>

            <div id="fh5co-section">
                <div class="grid-project-section">
                    <a href="#">
                        <img src="~/Content/images/project-1.jpg" alt="Project" class="img-responsive">
                        <div class="desc text-center">
                            <h2>Ales</h2>
                        </div>
                    </a>
                </div>
                <div class="grid-project-section">
                    <a href="#">
                        <img src="~/Content/images/project-2.jpg" alt="Project" class="img-responsive">
                        <div class="desc text-center">
                            <h2>Lagers</h2>
                        </div>
                    </a>
                </div>
                <div class="grid-project-section">
                    <a href="#">
                        <img src="~/Content/images/project-3.jpg" alt="Project" class="img-responsive">
                        <div class="desc text-center">
                            <h2>Cider</h2>
                        </div>
                    </a>
                </div>
            </div>

</body>